* {
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    height: 200px;
    width: 400px;
    background-color: #F5F5FA;
    font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}

h1 {
    background: #F5F5FA;
    border-radius: 10px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.20rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 10rem;
    margin-top: 10px;
    margin-bottom: 1px;
}

h3 {
    font-size: 1rem;
    margin-bottom: 30px;
    color: grey;
    letter-spacing: 5px;
}

h6 {
    font-size: 0.65rem;
    margin-bottom: 30px;
    color: grey;
    letter-spacing: 1px;
}

p {
    background: #F5F5FA;
    border-radius: 10px;
    box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
    padding-top: 10px;
    padding-bottom: 10px;
}

#inc-btn {
    background: #F5F5FA;
}

.save-btn {
    background: #F5F5FA;
}

button {
    letter-spacing: 0.25rem;
    width: 42vh;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 20px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}